{% extends "base.html" %} 
{% block title %} Home page{% endblock %}
{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <h1 class="aero-search-title"><i class="fas fa-plane"></i>Aerosearch</h1>
        <form method="POST" action="{{ url_for('views.home') }}">
            <div class="form-group mb-4">
                <input type="text" name="query" class="form-control form-control-lg" style="width: 600px;" placeholder="Search jobs with keywords">
            </div>
            <h2>Advanced Search</h2>
            <div class="form-group">
                <input type="text" name="company" class="form-control" placeholder="Company">
                <input type="text" name="city" class="form-control" placeholder="City">
                <input type="text" name="state" class="form-control" placeholder="State">
                <p>Radius (miles) <span id="radius_display">10</span></p>
                <input id="radius" type="range" name="radius" min="10" max="100" step="5" value="10" />
                <br>
                <label for="salary_range">Salary Range ($)</label>
                <p>Minimum Salary: <span id="salary_min_display">50000</span></p>
                <input id="salary_min" type="range" name="salary_min" min="50000" max="150000" step="1000" value="50000" />
                <p>Maximum Salary: <span id="salary_max_display">150000</span></p>
                <input id="salary_max" type="range" name="salary_max" min="50000" max="150000" step="1000" value="150000" />
            </div>
            <button type="submit" class="btn btn-primary" style="background-color: #2a71cd; color: #FFFFFF;">Search</button>
        </form>
    </div>
</div>

<style>
.aero-search-title {
    font-size: 64px;
    font-family: 'Helvetica Neue', sans-serif;
}

.aero-search-title i.fas.fa-plane {
    color: #2a71cd;
}
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Radius slider
        $("#radius").on("input", function () {
            $("#radius_display").text($(this).val());
        });

        // Minimum salary slider
        $("#salary_min").on("input", function () {
            $("#salary_min_display").text('$' + $(this).val());
        });

        // Maximum salary slider
        $("#salary_max").on("input", function () {
            $("#salary_max_display").text('$' + $(this).val());
        });
    });
</script>
{% endblock %}
