{% extends "base.html" %} <!--represents the homepage-->
{% block title %} Home page{% endblock %}
{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100"> <!-- Center-align content vertically and horizontally -->
    <div class="text-center"> <!-- Center-align content horizontally -->
        <h1 class="aero-search-title"><i class="fas fa-plane"></i>Aerosearch</h1>
        <form method="POST" action="{{ url_for('views.home') }}">
            <div class="form-group mb-4"> <!-- Added margin to the form group -->
                <input type="text" name="query" class="form-control form-control-lg" style="width: 600px;" placeholder="Search jobs with keywords"> <!-- Increased input size with form-control-lg -->
            </div>
            <div class="form-group">
                <input type="text" name="company" class="form-control" placeholder="Filter by Company">
                <input type="text" name="location" class="form-control" placeholder="Filter by Location">
                <input type="text" name="salary_range" class="form-control" placeholder="Filter by Salary Range">
            </div>
            <button type="submit" class="btn btn-primary" style="background-color: #2a71cd; color: #FFFFFF;">Search</button>
        </form>
    </div>
</div>

<style>
.aero-search-title {
    font-size: 64px;
    font-family: 'Helvitica Neue', sans-serif;
}

.aero-search-title i.fas.fa-plane {
    color: #2a71cd;
}
</style>
{% endblock %}
