{% extends "base.html" %}
{% block title %} Job Match {% endblock %}
{% block content %}
<div class="container">
    <h1>Job Match</h1>

    <!-- Displaying matched jobs as cards -->
    {% for job in matched_jobs %}
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">{{ job.getTitle() }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ job.getCompanyID() }}</h6>
            <p class="card-text">Location: {{ job.getLocation() }}</p>
            <p class="card-text">Salary Range: ${{ job.getSalaryRange()[0] }} - ${{ job.getSalaryRange()[1] }}</p>
            <p class="card-text">Description: {{ job.getDesc() }}</p>
            <p class="card-text">Tags:
                <ul>
                    {% for tag in job.getTags() %}
                    <li>{{ tag }}</li>
                    {% endfor %}
                </ul>
            </p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
