{% extends "base.html" %} <!-- Represents the user registration page -->
{% block title %} Register {% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center">Create Account</h2>

            <form method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" name="username" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="city" placeholder="City" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="State" placeholder="State" required>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" name="min_salary" placeholder="Minimum Salary" required>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" name="max_salary" placeholder="Maximum Salary" required>
                </div>
                <div class="form-group">
                    <label for="keywords">Keywords:</label>
                    <input type="text" class="form-control" name="keywords" placeholder="Enter Keywords (comma-separated)" required>
                </div>
                <div class="form-group">
                    <label for="skills">Skills:</label>
                    <input type="text" class="form-control" name="skills" placeholder="Enter Skills (comma-separated)" required>
                </div>                
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

